a.download-button {
    display: inline-block;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

a.download-button:hover {
    background-color: #45a049; /* Darker green */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6em;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #ccc;
}

form p {
    font-size: 1.2em;
}

form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form input[type="submit"] {
    background: #333;
    color: #fff;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
}

table th {
    background: #f4f4f4;
}

table tr:nth-child(even) {
    background: #f4f4f4;
}
